p
{
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 2%;
}

ul, li
{
	text-align: center;
	margin-left: 27%;
	margin-right: 27%;
	margin-top: 2%;
	margin-bottom: 10%;
	display:none;	
}

a
{
	color: black;
}

a:link
{
	color: black;
}
a:visited
{
	color:black;
}

a:hover
{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}
ul
{
	text-align: left;
	list-style: none;
	padding: 0;
}

li:before
{
	display: inline-block;
	padding: 0px 2%;
	content:"\e125";
	font-family:"Glyphicons Halflings";
	float:left;
}
